<html>

<head>

</head>
<h1> Author Items: Display, Add, and Delete Relationship</h1>

{{!-- this should match authorrecord.js the add author section --}}
<h3>Associate Author with Item:</h3>
<form id="addauthor" action="/authorItems" method="post">
    {{!-- make sure the name="" matches the sql insert name in authorrecord.js --}}
    Author: <select name="authorID">
        {{#each authors}}
        <option value="{{authorID}}">{{firstName}} {{lastName}}</option>
        {{/each}}
    </select> <br>
    Item: <select name="itemID">
        {{#each items}}
        <option value="{{itemID}}">ID [{{itemID}}] {{title}} </option>
        {{/each}}
    </select> <br>
    <input type="submit" value="Submit">
</form>
<br />


<h3>All AuthorItems:</h3>
<table>
    <thead>
        <th>Author ID</th>
        <th>Author Name</th>
        <th>Item ID</th>
        <th>Item Title</th>

    </thead>
    <tbody>
        {{#each authoritems}}
        <tr>
            <td>{{authorID}}</td>
            <td>{{firstName}} {{lastName}}</td>
            <td class="ID">{{itemID}}</td>
            <td>{{title}}</td>
            {{!-- run javascript delete --}}
            <td class="deletebtn"><button onclick="deleteAuthorItem({{authorID}})">Delete Relationship</button></td>

        </tr>
        {{/each}}
    </tbody>
</table>
