<html>

<h3>Add Items:</h3>
<form id="additem" action="/item" method="post">
    {{!-- make sure the name="" matches the sql insert name in authorrecord.js --}}
    Item Type: <select name="itemType"> 
        <option value="Book">Book </option>
        <option value="DVD">DVD</option>
        <option value="e-Book">e-Book</option>
      </select> <br>
    Title: <input type="text" name="title"><br>
    Date Published: <input type="date" name="datePublished"><br>
    <input type="submit" value="Submit">
 </form>
<br/>

<form id='search_items' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Search item titles starting with:</label>
    <input id='title_search_string' type='text' name='title_search_string' value=''>
    <input type="button" value="Search" onclick="searchItemByTitle()">
</form>


{{!-- SHOW ALL DATA IN DATABASE --}}
<h3>Current Items:</h3>
<table>
    <thead> 
        <th>itemId</th> 
        <th>itemType</th> 
        <th>title</th> 
        <th>datePublished</th> 
    </thead> 
    <tbody>
        {{#each item}} 
        <tr> 
            <td>{{itemID}}</td> 
            <td>{{itemType}}</td> 
            <td>{{title}}</td> 
            <td>{{datePublished}}</td> 
            {{!-- run javascript delete --}}
            <td><button onclick="deleteAuthor({{id}})">Delete</button></td>
            {{!-- go to update page --}}
            <td><a href="/authorRecord/{{id}}">Update</a></td> 
        </tr> 
        {{/each}} 
    </tbody> 
</table> 
</html>