<html>

<h1> Display, Add, Delete, Update and Search for Library Members</h1>
<h3>Add a new library member:</h3>

<form id="addperson" action="/libraryMember" method="post">
    First name: <input type="text" name="firstName"><br>
    Last name: <input type="text" name="lastName"><br>
    <input type="submit" value="Submit">
</form>
<br />


<form id='searchMember' action='' method=''>
    <!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Search library members by last name:</label>
    <input id='lastNameSearch' type='text' name='lastNameSearch' value=''>
    <input type="button" value="Search" onclick="searchMemberByLastName()">
    <input type="button" onclick="location.href=/libraryMember/;" value="Show All" />

</form>

<h3>Current Library Members</h3>
<table>
    <thead>
        <th>Member ID</th>
        <th>First Name</th>
        <th>Last Name</th>
    </thead>
    <tbody>
        {{#each member}}
        <tr>
            <td class="memberID">{{memberID}}</td>
            <td class="name">{{firstName}}</td>
            <td class="name">{{lastName}}</td>
            <td class="deletebtn"><button onclick="deleteMember({{memberID}})">Delete</button></td>
            <td><a href="/libraryMember/{{memberID}}">Update</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>

</html>