<html>
<h1> Order - Catalog Item: Display and Add</h1>

<h3>Associate Order with Catalog Item:</h3>
<form id="addOrderCatalogItem" action="/orderCatalogItem" method="post">
    Order: <select name="orderNumber">
        {{#each order}}
        <option value="{{orderNumber}}">{{orderNumber}}</option>
        {{/each}}
    </select> <br>
    Catalog Item: <select name="catalogID">
        {{#each catalogItem}}
        <option value="{{catalogID}}">{{catalogID}}</option>
        {{/each}}
    </select> <br>
    <input type="submit" value="Submit">
</form>
<br />


{{!-- SHOW ALL DATA IN DATABASE --}}
<h3>All Order Catalog Items:</h3>
<table>
    <thead>
        <th>Order Number</th>
        <th>Catalog ID</th>
    </thead>

    <tbody>
        {{#each orderCatalogItem}}
        <tr>
            <td class="orderNumber">{{orderNumber}}</td>
            <td class="catalogID">{{catalogID}}</td>
        </tr>
        {{/each}}
    </tbody>

</table>