<html>

<h3>Add new order:</h3>
<form id="addorder" action="/order" method="post">
    Order Date: <input type="date" name="orderDate"><br>
    Member: <select name="memberID"> 
        {{#each members}}
        <option value="{{memberID}}">{{firstName}} {{lastName}}</option>
        {{/each}}
      </select> <br>
    <input type="submit" value="Submit">
 </form>
<br/>


{{!-- SHOW ALL DATA IN DATABASE --}}
<h3>Current Orders:</h3>
<table>
    <thead> 
        <th>orderDate</th> 
        <th>memberId</th> 
    </thead> 
    <tbody>
        {{#each order}} 
        <tr> 
            <td>{{orderDate}}</td> 
            <td>{{memberID}}</td> 
            {{!-- run javascript delete --}}
            <td><button onclick="deleteAuthor({{id}})">Delete</button></td>
            {{!-- go to update page --}}
            <td><a href="/authorRecord/{{id}}">Update</a></td> 
        </tr> 
        {{/each}} 
    </tbody> 
</table> 
</html>