<html>
<h1> Orders: Display and Add</h1>
<h3>Add new order:</h3>
<form onSubmit="event.preventDefault" id="addorder" action="/order" method="post">
    Order Date: <input type="date" name="orderDate" id="date"><br>
    Member: <select name="memberID">
        {{#each members}}
        <option value="{{memberID}}">{{firstName}} {{lastName}}</option>
        {{/each}}
        </select> 
        <br>
    </select> <br>
    <input type="submit" value="Submit">
</form>
<br />



{{!-- SHOW ALL DATA IN DATABASE --}}
<h3>Current Orders:</h3>
<table>
    <thead>
        <th>Order Date</th>
        <th>Member ID</th>
        <th>Order Number</th>
    </thead>
    <tbody>
        {{#each order}}
        <tr>
            <td class="date">{{orderDate}}</td>
            <td class="memberID">{{memberID}}</td>
            <td class="orderNumber">{{orderNumber}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

</html>
