<html>
<h1> Order - Catalog Item: Display and Add</h1>

<h3>Associate Order with Catalog Item:</h3>
<form id="addOrderCatalogItem" action="/orderCatalogItem" method="post">
    Order: <select name="orderNumber">
        {{#each order}}
        <option value="{{orderNumber}}">{{orderNumber}}</option>
        {{/each}}
    </select> <br>
    Catalog Item: <select name="catalogItem">
        {{#each catalogItem}}
        <option value="{{catalogID}}">{{catalogID}}</option>
        {{/each}}
    </select> <br>
    <input type="submit" value="Submit">
</form>
<br />


{{!-- SHOW ALL DATA IN DATABASE --}}
<h3>All Order Catalog Items:</h3>
<table>
    <thead>
        <th>Catalog ID</th>
        <th>Order Number</th>
    </thead>
    <tbody>

        <tr>
            {{#each orderCatalogItem}}
            <td>{{catalogID}}</td>
            <td>{{orderNumber}}</td>

            {{/each}}

            {{!-- run javascript delete --}}
            {{!-- <td><button onclick="deleteAuthor({{id}})">Delete</button></td> --}}
            {{!-- go to update page --}}
            {{!-- <td><a href="/memberOrders/{{id}}">Update</a></td> --}}
        </tr>

    </tbody>
</table>