{{!-- <!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Library Databse</title>
    <script src="main.js"></script>
    <link rel="stylesheet" href="styles.css">

    </head>


  <body>

    <h1> Order Details: Add, Select and Delete Orders </h1>
    <fieldset class = "fieldAdd"><form>
      <h3>Add Order to Database:</h3>

      <div>
        <label>Date:
            <input type="date">
        </label>
      </div>

      <div>
        <label>Member ID:
            <input type="int" size="30" maxlength="100">
        </label>
      </div>
      <button type="button">Submit</button>
    </fieldset>
    

 <fieldset class = "fieldSearch">
  <div>
      <h3>Order Search:  </h3>
      <label>Order Number:  <input type="int" size="30" maxlength="100">
      </label>
    <label>Date:  <input type="date">
    </label>
    <label>Member ID:  <input type="int" size="30" maxlength="100">
    </label>


    <button type="button">Submit</button>
  </div>
    <p>

<h3>All Orders/ Search Results:</h3>

  

  <div>
      <table>
          <thead>
          <tr>
              <th>Date</th>
              <th>Order Number</th>
              <th>Member ID</th>
            </tr>
          </thead>

            <tbody>
            <tr>
              <td>04/04/2021</th>
              <td>2</th>
              <td>21</th>
              <td><button type="button">Select</button></td>
              <td><button type="button">Delete</button></td>

            </tr>
            <tr>
              <td>01/11/2021</th>
              <td>3</th>
              <td>13</th>
              <td><button type="button">Select</button></td>
              <td><button type="button">Delete</button></td>
            </tr>

            <tr>
              <td>01/11/2021</th>
              <td>4</th>
              <td>14</th>
              <td><button type="button">Select</button></td>
              <td><button type="button">Delete</button></td>
            </tr>
            </tbody>

            
        </table>
            
  </div><p>
    <button type="button">Clear Search Results (Show All Catalog Items)</button>
  </fieldset>

  </body>
</html> --}}


<html>

<h3>Add new order:</h3>
<form id="addperson" action="/people" method="post">
    Order Date: <input type="text" name="firstName"><br>
    Order Number: <input type="text" name="lastName"><br>
    Member ID: <input type="text" name="lastName"><br>
    <input type="submit" value="Submit">
 </form>
<br/>


{{!-- SHOW ALL DATA IN DATABASE --}}
<h3>Current Orders:</h3>
<table>
    <thead> 
        <th>orderDate</th> 
        <th>orderNumber</th> 
        <th>memberId</th> 
    </thead> 
    <tbody>
        {{#each order}} 
        <tr> 
            <td>{{orderDate}}</td> 
            <td>{{orderNumber}}</td>
            <td>{{memberId}}</td> 
            {{!-- run javascript delete --}}
            <td><button onclick="deleteAuthor({{id}})">Delete</button></td>
            {{!-- go to update page --}}
            <td><a href="/authorRecord/{{id}}">Update</a></td> 
        </tr> 
        {{/each}} 
    </tbody> 
</table> 
</html>