<html>
<h1> Order - Catalog Item: Display and Add</h1>

{{!-- this should match authorrecord.js the add author section --}}
<h3>Associate Order with Catalog Item:</h3>
<form id="addauthor" action="/memberOrders" method="post">
    {{!-- make sure the name="" matches the sql insert name in authorrecord.js --}}
    Order: <select name="orderNumber"> 
        {{#each orderNumber}}
        <option value="{{orderNumber}}">"order date:" {{orderDate}} "member id:"{{memberID}} "order Number:" {{orderNumber}}</option>
        {{/each}}
      </select> <br>
    Catalog Item: <select name="catalogItem"> 
        {{#each catalogItem}}
        <option value="{{orderNumber}}">{{orderNumber}} </option>
        {{/each}}
      </select> <br>
    <input type="submit" value="Submit">
 </form>
<br/>


{{!-- SHOW ALL DATA IN DATABASE --}}
<h3>Current Authors:</h3>
<table>
    <thead> 
        <th>Catalog ID</th> 
        <th>Order Number</th> 
    </thead> 
    <tbody>
        {{#each catalogItem}} 
        <tr> 
            <td>{{catalogID}}</td> 
            <td>{{title}}</td> 
            {{!-- run javascript delete --}}
            {{!-- <td><button onclick="deleteAuthor({{id}})">Delete</button></td> --}}
            {{!-- go to update page --}}
            {{!-- <td><a href="/memberOrders/{{id}}">Update</a></td>  --}}
        </tr> 
        {{/each}} 
    </tbody> 
</table> 